{% extends 'app_admin/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12"><h2> Mes Articles</h2></div>
        <div class="col-md-12 p-10">
            <a href="{% url 'app_admin:Add_articles' %}" class="btn btn-secondary float-right mt-2"><i class="fas fa-plus"></i> Ajouter article</a>
        </div>
        <div class="col-md-12">
            {% if mes_articles_user %}
            <div class="card mt-3">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="h5">Titre des articles</th>
                                <th class="h5">Description</th>
                                <th class="h5">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for article in mes_articles_user %}
                            <tr>
                                <td><a href="" class="h6">{{ article.title }}</a></td>
                                <td><a href="" class="h6"> {{ article.description | truncatewords:5 }}</a></td>
                                <td>
                                    <a href="{% url 'app_admin:update_article' article.id %}" class="btn btn-info"><i class="fas fa-edit"></i></a>
                                    {% if has_perm %} <!-- if has_perm veut dire : si has_perm==True . Donc if not has_perm  , veut dire : has_perm==False -->
                                    <a href="{% url 'app_admin:delete_article' article.id %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <p>Vous n'avez aucun articles</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
