<div>
    <section class="text-center">
        <!-- Footer -->
        <footer class="text-center text-white" style="background-color:#286ab1;">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Social media -->
                <section class="mb-4">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/abel.kpokouta.7" role="button">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <!-- LinkedIn -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com" role="button">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <!-- WhatsApp -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://wa.me/1234567890" role="button">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <!-- TikTok -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.tiktok.com/@yourusername" role="button">
                        <i class="fab fa-tiktok"></i>
                    </a>
                </section>
                <!-- Section: Social media -->
            </div>
            <!-- Grid container -->

            <!-- Contact Section -->
            <div class="container p-4">
                <h5>Contactez le créateur du site web</h5>
                <p>Pour toute question ou demande, veuillez envoyer un email à <a class="text-white" href="mailto:kpokoutaabel@gmail.com">abelkpokouta@gmail.com</a>.</p>
            </div>
            <!-- Contact Section -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2024 Copyright:
                <a class="text-white" href="mailto:kpokoutaabel@gmail.com">abelkpokouta</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </section>
</div>

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
