{% extends 'blog/navigation_bar.html' %}

{% block contenu %}
<div class="container text-center mb-6">
    <h1>Liste des recherches</h1>
    {% if liste_de_recherche %}
    <div class="row">
        {% for article in liste_de_recherche %}
        <div class="col-12 col-md-6 col-lg-3 col-xl-3 mt-5">
            <div class="card" style="height:440px; border-color: black;">
                <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                    <img src="{{ article.image.url }}" alt="Card image cap " class="img-fluid"/>
                    <a href="{% url 'blog_site:article_info' article.id %}">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'blog_site:article_info' article.id %}">{{ article.title }}</a></h5>
                    <p class="card-text">{{ article.description |truncatewords:8 }}</p>
                    <p class="card-text">Publié il y a {{ article.created_at|timesince}}</p>
                    <a href="{% url 'blog_site:article_info' article.id %}" class="btn btn-primary" data-mdb-ripple-init>LIRE LA SUITE</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>Aucun resultat trouvé ...</p>
    {% endif %}
</div>

{% endblock %}

{% block pied_page %}
{% include 'blog/footer.html' %}
{% endblock %}